.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #222;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  .nav-right {
    * {
      margin: auto 10px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .searchbar {
    background: none;
    border: 1px solid grey;
    border-radius: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    color: whitesmoke;

    i {
      cursor: pointer;
    }

    input {
      border: none;
      background: none;
      padding: 10px;
      color: white;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.wrapper {
  padding: 0.75vw;

  & h1.title {
    margin-left: 3vw;
    color: white;
  }
  .movie-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 7.5vw;

    // justify-content: center;
    .movie-card {
      width: 23.5%;
      height: auto;
      margin-right: 2%;
      margin-top: 20px;
      color: whitesmoke;
      cursor: pointer;

      .image-container {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid white;
        &:hover {
          border-color: #7c4;
        }

        .img-overlay {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          opacity: 0;
          top: 0;
          z-index: 99;
          color: white;
          transition: 0.5s ease;

          .overlay-inside-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 70%;
            width: 100%;
          }

          h2 {
            margin: 0;
          }
          .detail-btn {
            background-color: #7c4;
            margin-top: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            width: 50%;
            border-radius: 7px;
            text-align: center;
            font-weight: bold;
            transform: translateY(100%);
            transition: 0.5s ease;
          }

          i {
            font-size: 1.5rem;
            color: #7c4;
          }
          &:hover {
            opacity: 1;
            & .detail-btn {
              transform: translateY(0);
            }
          }
        }
      }
      &:nth-child(4n) {
        margin-right: 0;
      }

      .movie-image {
        width: 100%;
        // height: 380px;
        object-fit: cover;
        object-position: center;
      }

      p {
        margin: 0;
      }
      .movie-title {
        font-weight: bold;
      }
    }
  }
}

//movie details

.movie-details {
  padding: 1.5rem 5vw;
  color: white;
  display: flex;
  flex-direction: row;
  .description * {
    margin: 10px 0;
  }
  img.detail-image {
    border: 8px solid white;
    height: 400px;
    border-radius: 10px;
  }

  .image-desc {
    display: flex;

    .two-columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .movie-suggestion {
        width: 30%;

        
        h3 {
          margin-top: 0;
        }
        img {
          height: 120px;
          margin-right: 1rem;
          margin-bottom: 1rem;
          border: 3px solid white;
          transition: 0.5s ease;

          &:hover {
            border-color: #7c4;
            cursor: pointer;
          }
        }
      }
    }

    & div:nth-child(1) {
      margin-right: 2rem;
    }

    .stats {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      i {
        font-size: 1.5rem;
        color: #7c4;
        margin-right: 2rem;
      }
    }
    div.btn {
      background-color: #7c4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      border-radius: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 20px;
      &:hover {
        background-color: rgb(99, 169, 59);
        cursor: pointer;
      }
      i {
        margin-right: 1rem;
      }
    }
  }
  .torrentquality {
    border: 1px solid white;
    padding: 2px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}
